.contact-form{
  float: left;
  width: 640px
}
.contact-info{
  float: right;
  width: 494px;

}
.contact-list{
  margin: 0;
  padding: 0;
  li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.icon{
  margin-right:20px;
  width: 33px;
  height: 33px;
line-height: 33px;}
