.section{
  background-color: #fff;
  padding: 35px 0;
  position: relative;
  &:before,&:after{
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    top:0;left: 0;right: 0; bottom: 0;
    @include transform-origin(0,0);
    @include transform(skewY(-1deg));
    }
  &:after{
    background-color: #fff;
    @include transform-origin(100%,0);

  }

}
